.PageContainer{
    width: 100%;
    height: 100%;
}

.SoundPageBackground{
    display: block;
    outline-style: none;
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #5e4b62;
    color: aliceblue;
    min-height: 70vh;
    padding-bottom: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    filter:drop-shadow(0px 4px 4px #28152c);
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.SofLink{
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* line-height: 3.8vh; */
    font-size: 3.3vh;
    color: azure;
    display: block;
    /* background-color: #922FA8; */
    background-color: #8f509d;
    width: 32vw;
    height: 6vh;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    /* padding-left: 1vw; */
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    filter:drop-shadow(3px 3px 3px #28152c);
    transition:all 300ms
}

.SofLink:hover{
    filter:drop-shadow(1px 1px 1px #28152c);
}